﻿@{
    ViewBag.Title = "CapGemini: Simple Customer Manager";
}

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Welcome to the simple customers manager.
            To proceed click the button below:
        </p>
        <p>
            <a href="@Url.Action("Index", "Customers")" class="btn btn-default">
                Click me
                <span class="glyphicon  glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        <p>
    </div>
</div>